* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #22242c;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}



header {
    width: 100%;
    height: 600px;
    background: #423030;
    background: linear-gradient(to right, hsla(0, 30%, 50%, 0.199), hsla(0, 53%, 55%, 0.438)), url(../fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

main .significado{
    padding: 30px 0 60px 0;
}
.contenedor-significado{
    display: flex;
    justify-content: space-evenly;
}

.significado .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #b9b9b9;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #fefeff;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(22, 9, 70, 0.6);
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

footer{
    background: #c533338c;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(255, 145, 81);
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ffffff;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-significado{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .significado .contenido-textos{
        width: 90%;
    }

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    .significado .contenido-textos{
        width: 95%;
    }

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

}


































.menu{

}
.menu > li{
    float:right;
    margin-left: 10px;
    list-style: none;
    height: 23px;
    overflow: hidden;
    transition: 2s;
    -webkit-transition: 2s;
    border:1px solid rgb(253, 253, 253)
}

.menu li a{
    display:block;
    width: 100px;
    height: 20;
    text-decoration:none;
    overflow: hidden;
    background-color: rgb(192, 70, 70);
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 1px, 1px, 0px, 4px;

}
.menu li ul li{
    display: inline !important;
}
.menu li ul li a{
    margin-left:auto;
    text-align: center;
}
.menu >li:hover{
    height: 170px;
}
.menu li a:hover{
    background-color: #ffcbcb;
    color:#333;
}
